<h1 class="heading"><%= params[:id] %> 結帳</h1>

<%= form_with(model: @order, url: pay_order_path(@order), method: "post") do |form| %>
  <div data-token="<%= @token %>"
       data-controller="payme">
  </div>
  <%= form.submit "付錢", data: { disable_with: "處理中，請稍候..." } %>
<% end %>

