nav.navbar {
  @apply bg-gray-50 flex justify-between items-center mb-4 px-6 py-2;

  .brand {
    @apply text-2xl;
  }

  .actions {
    @apply flex items-center;

    li {
      @apply mx-1 font-medium;
    }
  }
}
